/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}

/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Estilos para el hero */
#hero {
    background-image: url("media/macbookpro2018.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

#hero h1 {
    font-size: 48px;
}

#hero button {
    background-color: #ff5c5c;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#hero button:hover {
    background-color: #ff3c3c;
}

/* Estilos para la sección de productos */
#nuestros-productos {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    width: calc(33.33% - 20px);
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.producto p {
    color: #555;
}

.producto p:last-child {
    font-weight: bold;
    margin-top: 10px;
}

.producto button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #45a049;
}

/* Estilos para el apartado de características */
#caracteristicas {
    text-align: center;
    padding: 50px 0;
}

#caracteristicas ul {
    list-style: none;
    padding: 0;
}

#caracteristicas li {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Estilos para la sección final */
#final {
    background-color: #ff5c5c;
    text-align: center;
    padding: 50px 0;
}

#final h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

#final button {
    background-color: #fff;
    color: #ff5c5c;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#final button:hover {
    background-color: #ff3c3c;
    color: #fff;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
